<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Assignment Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the assignment name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="dueTextField">Due Date</label>
                    <input type="text" class="form-control" id="dueTextField" placeholder="Enter the due date" name="Due" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Assignment Description</label>
                    <textarea type="text" class="form-control" id="descriptionTextArea"  placeholder="Enter the assignment description" name="Description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="classTextField">Class</label>
                    <input type="text" class="form-control" id="classTextField" placeholder="Enter the class name" name="Class" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>